.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
.myenv*/
myenv*/
# apps/services/__pycache__/
# apps/utils/__pycache__/
# apps/routes/__pycache__/
# apps/db/__pycache__/
# apps/__pycache__/
# apps/middleware/__pycache__/